* {
    font-family: "Helvetica Neue", "HelveticaNeue",Helvetica,Arial,sans-serif;
    color: #FFFFFF;
}

h3,
.Paragraph,
#at_carrousel ul li img {
    margin: 10px;
}

#at_carrousel {
	position:relative;
	display:inline-block;
	width: 650px;
	overflow: hidden;
	border-radius: 10px;
}

#at_carrousel ul{
	width: inherit;
    display: table;
    table-layout: fixed;
	overflow: hidden;
	padding:0;
	margin:0;
}

#at_carrousel ul li {
    position: relative;
    display: table-cell;
    width: inherit;
    background-color: #3F8EF3;
	cursor:pointer;
}

#at_carrousel ul li div {
    display: block;
}

#at_carrousel ul li img {
    float:left;
    margin-right: 10px;
    width: 50%;
}

#at_carrousel ul li:hover {
    background-color: #384A72;
}

#at_carrousel .next,
#at_carrousel .previous {
	position: absolute;
	top:0;
	height: 100%;	
	padding: 130px 10px;
	opacity:0;
	font-weight: bolder;
	cursor:pointer;
}

#at_carrousel .next:hover,
#at_carrousel .previous:hover {
	background-color: rgba(255, 255, 255, 0.6);
	opacity:1;
} 

#at_carrousel .next { right:0; }
#at_carrousel .previous { left:0; }